rtv        # Reddit client
rfc        # RFC viewer
ohmu       # Disk space visualizer
beets      # Music library organizer
tabview    # CSV viewer
flake8     # PEP8 linter, for vim+syntastic
virtualenv

# weechat
websocket-client
pync
