rtv        # Reddit client
rfc        # RFC viewer
wikicurses # Wikipedia viewer
gcalcli    # Calendar viewer
ohmu       # Disk space visualizer
beets      # Music library organizer
tabview    # CSV viewer

# weechat
websocket-client
pync
