Xft.dpi: 144

*.foreground: #a9b1d6
*.background: #02131a

! black
*.color0: #1a1b26
*.color8: #444b6a

! red
*.color1: #f7768e
*.color9: #ff7a93

! green
*.color2: #9ece6a
*.color10: #b9f27c

! yellow
*.color3: #e0af68
*.color11: #ff9e64

! blue
*.color4: #7aa2f7
*.color12: #7da6ff

! magenta
*.color5: #ad8ee6
*.color13: #bb9af7

! cyan
*.color6: #449dab
*.color14: #0db9d7

! white
*.color7: #787c99
*.color15: #acb0d0
rofi.hlbg: #7aa2f7
