*.foreground: #d8dee8
*.background: #262626

! black
*.color0: #4b5262
*.color8: #434a5a

! red
*.color1: #bf616a
*.color9: #b3555e

! green
*.color2: #a3be8c
*.color10: #93ae7c

! yellow
*.color3: #ebcb8b
*.color11: #dbbb7b

! blue
*.color4: #81a1c1
*.color12: #7191b1

! magenta
*.color5: #b48ead
*.color13: #a6809f

! cyan
*.color6: #89d0ba
*.color14: #7dbba8

! white
*.color7: #e5e9f0
*.color15: #d1d5dc

URxvt*url-launcher: firefox
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*boldColors: on
URxvt*font: xft:Monaco for Powerline:size=10:antialias=true:hinting=true:medium,\
            xft:Wuncon Siji:size=10:style=medium:hinting=true,antialias=true,\
            -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*-*

URxvt.boldFont: xft:Monaco for Powerline:size=10:antialias=true:hinting=true:bold

rofi.modi: window,run
rofi.lines: 10
rofi.separator-style: dash
rofi.padding: 20
rofi.font: Lucida Grande 11
rofi.bw: 6
rofi.bc: #2a2a2a
rofi.hide-scrollbar: true
rofi.hlbg: #bf616a
